#yelpCard {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    /* padding: 1em; */
    padding: 1em 3em 1em 2em;
    height: min-content;
    filter: drop-shadow(1px 1px 1px var(--grey));
    font-family: Trebuchet MS;
}

#yelpImg {
    object-fit: cover;
    width: 80px;
    height: 80px;
    padding-right: 1em;
}

#img-info-container {
    display: flex;
}

#info-text {
    align-self: center;
}

p {
    margin: 0;
}

h3 {
    margin-top: 0;
}