#projectContainer{
    display: flex;
    justify-content: space-around;
}

.project_col {
    width: 50%;
}



.infoLabel {
    margin-bottom: 0em;
}

.info {
    color: var(--grey);
    margin-top: 0em;
    white-space: pre-wrap;
}


img {
    height: 50%;
    width: 50%;
    object-fit: cover;
    color: var(--grey);
}

#displayImg {
    margin-bottom: 0.75em;
}

#deleteProjButton {
    background: var(--pink);
    border-color: var(--darkpink);
    margin-left: 0.5em;
}

#deleteModal {
    width: 30%;
    height: 20%;
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 10em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#modalText {
    margin:  1em 1em 0em 1em;
}

#modalBtns {
    margin: 0em 1em 1em 1em;
    display: flex;
    justify-content: space-between;
}

#modalCancelBtn {
    background: var(--pink);
    border-color: var(--darkpink);
    margin-left: 0.5em;
}